.wrapper {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: 1200px;
}

.section {
  padding: 3em 0;
}

.white-section {
  background-color: #ffffff;
}

.light-section {
  background-color: #f8f8f8;
}

.section-title {
  display: block;
  padding-left: 0.5em;
  margin-bottom: 0.8em;
  font-weight: 200;
  font-size: 2.8rem;
  line-height: 160%;
  text-transform: uppercase;
  color: #0076e8;
  border-left: 5px solid #0076e8;
}
.section-title span {
  font-weight: 700;
}

.mail-title {
  display: block;
  padding-left: 0.5em;
  margin-bottom: 0.8em;
  font-weight: 200;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #ffffff;
  border-left: 5px solid #ffffff;
  line-height: 160%;
}
.mail-title span {
  font-weight: 700;
}

.link-animation {
  position: relative;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  width: 100%;
  border-bottom: 2px solid #0076e8;
  line-height: 180%;
  z-index: 1;
  transition: color 0.3s;
}
.link-animation::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  background-color: #0076e8;
  z-index: -1;
  transition: height 0.3s;
}
.link-animation:hover {
  color: #ffffff;
}
.link-animation:hover::before {
  height: 100%;
}

.btn-special-animation {
  position: relative;
  margin: 0.2em 0.5em 0.2em 0;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.btn-special-animation::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #d8d8d8;
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
  transform: scaleX(0);
}
.btn-special-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.btn-special-animation-active {
  position: relative;
  margin: 0.2em 0.5em 0.2em 0;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  background-color: #0076e8;
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.btn-special-animation-active::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0163be;
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
  transform: scaleX(0);
}
.btn-special-animation-active:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.courses__list {
  text-align: center;
}
.courses__list .courses__link {
  display: block;
  text-decoration: none;
  margin-bottom: 2em;
}
.courses__list .courses__link .courses__option--img {
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  transition: transform 0.3s;
  height: auto;
}
.courses__list .courses__link .courses__option--name {
  line-height: 160%;
  font-size: 1.6rem;
  color: #0076e8;
}
.courses__list .courses__link:hover .courses__option--img {
  transform: scale(0.9);
}

@media (min-width: 576px) {
  .courses__list {
    display: flex;
    flex-wrap: wrap;
  }
  .courses__list .courses__link {
    margin: 0 0.5em 1em 0;
    width: 45%;
  }
}
@media (max-width: 772px) {
  .btn-special-animation {
    width: 100%;
  }
  .btn-special-animation-active {
    width: 100%;
  }
}
@media (min-width: 772px) {
  .section {
    padding: 5em 0em;
  }
}
@media (min-width: 992px) {
  .section-title {
    font-size: 3.6rem;
  }
  .section-title {
    font-size: 3.6rem;
  }
  .courses__list .courses__link {
    width: 30%;
  }
  .mail-title {
    font-size: 3.2rem;
  }
}
@media (min-width: 1200px) {
  .courses__list .courses__link {
    width: 22%;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: sans-serif;
}

.scroll-space {
  height: 200vh;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #d8d8d8;
  z-index: 1000;
}
.nav__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.nav__logo img {
  height: 30px;
}
.nav .burger-btn {
  padding: 1em;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
}
.nav .burger-btn__box {
  position: relative;
  width: 40px;
  height: 24px;
}
.nav .burger-btn__bars, .nav .burger-btn__bars::after, .nav .burger-btn__bars::before {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 4px;
  transition: transform 0.3s 1s, bottom 0.3s 1s;
}
.nav .burger-btn__bars::before {
  transition: bottom 1s, opacity 1s;
}
.nav .burger-btn__bars {
  bottom: 0px;
  left: 0;
  background-color: red;
}
.nav .burger-btn__bars::after {
  content: "";
  bottom: 10px;
  left: 0;
}
.nav .burger-btn__bars::before {
  content: "";
  bottom: 20px;
  left: 0;
  background-color: pink;
}
.nav .burger-btn:hover .burger-btn__bars {
  bottom: 10px;
  transform: rotate(-45deg);
}
.nav .burger-btn:hover .burger-btn__bars::after {
  transform: rotate(-90deg);
  bottom: 0;
}
.nav .burger-btn:hover .burger-btn__bars::before {
  opacity: 0;
  bottom: 10px;
}
.nav__wrapper {
  position: fixed;
  top: 80px;
  left: 100%;
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-top: 1px solid #d8d8d8;
  opacity: 0;
  transition: left 0.5s, opacity 0.5s;
}
.nav__items {
  position: absolute;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav__item {
  display: block;
  text-decoration: none;
  padding: 1em 2em;
  font-size: 2rem;
  text-transform: uppercase;
  color: #000000;
  transition: color 0.3s;
}
.nav__item:hover {
  color: #0076e8;
}
.nav .nav__wrapper--active {
  opacity: 1;
  left: 0;
}

.header {
  position: relative;
  height: 100%;
  max-height: 600px;
  background-image: url(../img/header-small.jpeg);
  background-position: 70% 20%;
  background-size: cover;
  z-index: 0;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  max-height: 600px;
  width: 100%;
  color: #ffffff;
}
.header__text h1 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2.6rem;
  margin-bottom: 0.8rem;
}
.header__text p {
  font-weight: 700;
  font-size: 2.4rem;
}

.future-box {
  display: flex;
  flex-direction: column;
}
.future-box__text p {
  margin-bottom: 1em;
  font-size: 1.8rem;
  line-height: 180%;
}
.future-box__text span {
  font-weight: 700;
}
.future-box__img {
  margin: 1em auto 0;
  width: 100%;
  max-width: 500px;
}

.about-us .section-title-two {
  margin-top: 2em;
}
.about-us .section-text-two {
  line-height: 160%;
  font-size: 1.8rem;
}
.about-us .section-text-two:last-child {
  margin-top: 1em;
}

.acordeon {
  margin-top: 2em;
}
.acordeon-section {
  background-color: #ffffff;
  margin-bottom: 0.4em;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}
.acordeon-section__btn {
  font-size: 1.5rem;
  padding: 1em;
  width: 100%;
  background: none;
  border: none;
  color: #0076e8;
  font-size: 1.5rem;
  text-align: left;
  line-height: 160%;
  cursor: pointer;
}
.acordeon-section__btn .fa-solid {
  margin-right: 0.6em;
  padding: 0.1em;
  font-size: 20px;
}
.acordeon-section__btn .fa-minus {
  display: none;
}
.acordeon-section__hidden-text {
  font-size: 1.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}
.acordeon-section__hidden-text p {
  padding: 0 2em;
  margin-bottom: 1em;
  line-height: 180%;
}
.acordeon-section__hidden-text p:first-child {
  padding-top: 1em;
}
.acordeon-section__hidden-text p:last-child {
  padding-bottom: 1em;
}
.acordeon-section__hidden-text p span {
  font-weight: 700;
}
.acordeon-section .fa-hide {
  display: none;
}
.acordeon-section .fa-show {
  display: block;
}
.acordeon-section .hidden-text-show {
  background-color: #fff;
}

.courses__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courses p {
  margin-bottom: 2em;
  font-size: 1.8rem;
  line-height: 160%;
}
.courses .courses--title {
  font-size: 2.4rem;
  font-weight: 200;
  text-transform: uppercase;
  margin: 1em 0 0.5em;
}
.courses-free-text {
  display: block;
  margin: 2em 0 4em 0;
  padding: 1em;
  border-left: 5px solid #0076e8;
  line-height: 160%;
}
.courses .mail {
  background-color: #0076e8;
  color: #ffffff;
}
.courses .mail p {
  font-size: 1.8rem;
  margin-bottom: 1em;
}
.courses .mail .form__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.courses .mail .form__wrapper--item {
  display: block;
  margin-bottom: 1em;
  color: #000000;
  border: #ffffff;
  background-color: #ffffff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  padding: 12px;
  line-height: 140%;
  width: 100%;
  max-width: 700px;
}
.courses .mail .form__wrapper--btn {
  display: block;
  background-color: #1b1b1f;
  color: #ffffff;
  border: #1b1b1f;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  padding: 12px;
  line-height: 140%;
  width: 100%;
  max-width: 700px;
  cursor: pointer;
}
.courses .mail__wrapper-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
.courses .mail__wrapper-links--link {
  display: block;
  line-height: 160%;
  text-decoration: none;
  font-size: 1.4rem;
}
.courses .mail__wrapper-links--link:first-child {
  margin-bottom: 1em;
}
.courses .mail__wrapper-links--link1 {
  color: #1b1b1f;
}
.courses .mail__wrapper-links--link2 {
  color: #d8d8d8;
}

.community {
  padding-bottom: 3em;
}
.community-text {
  margin: 2em 0 3em;
}
.community-text p {
  line-height: 160%;
}
.community__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.community__box {
  margin: 1.5em 1em;
}
.community__box--link {
  display: block;
  margin-bottom: 1em;
}
.community__box--img {
  display: block;
  width: 100%;
  max-width: 250px;
  height: auto;
  margin: 0 auto;
}
.community__box--headline {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.community__box--ol {
  margin-left: 1.2em;
}
.community__box--li {
  line-height: 160%;
  margin-bottom: 0.6em;
}

.map__text {
  line-height: 160%;
  margin-bottom: 2em;
}
.map__timeline-mobile-info {
  background-color: #0076e8;
  color: #ffffff;
  padding: 1em;
  line-height: 180%;
  margin: -1em -1em 0 -1em;
}
.map__timeline-mobile-ol {
  margin-top: 2em;
}
.map__timeline-mobile-li {
  margin-bottom: 1em;
  padding: 0 1em;
  list-style-position: inside;
  color: #0076e8;
}
.map__timeline-mobile-li p {
  display: inline;
  line-height: 160%;
  color: #000000;
}
.map__timeline-mobile-li span {
  line-height: 160%;
  font-size: 1.2rem;
  color: #000000;
}
.map-timeline {
  display: none;
}
.map__other-courses .section-title {
  margin: 2em 0 1em 0;
}
.map__other-courses--text {
  line-height: 160%;
}
.map__other-courses-boxes {
  display: flex;
  flex-direction: column;
}
.map__other-courses-box {
  margin: 1em 0;
  padding: 2em;
  width: 50%;
  border-radius: 8px;
  border: 1px solid #0076e8;
  width: 100%;
}
.map__other-courses-box--title {
  color: #0076e8;
  margin-bottom: 1em;
  line-height: 160%;
}
.map__other-courses-box--title a {
  color: #0076e8;
  text-decoration: none;
  transition: color 0.3s;
}
.map__other-courses-box--title a:hover {
  color: #0163be;
}
.map__other-courses-box--text {
  color: #000000;
  line-height: 160%;
}
.map__other-courses-box--text span {
  font-weight: 700;
}
.map__other-courses-box--text a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}
.map__other-courses-box--text a:hover {
  color: #0076e8;
}

@media (min-width: 370px) {
  .acordeon-section__btn {
    font-size: 1.6rem;
  }
  .acordeon-section__hidden-text {
    font-size: 1.6rem;
  }
}
@media (min-width: 576px) {
  .community-text {
    margin: 2em 0;
  }
}
@media (min-width: 768px) {
  .acordeon-section__btn {
    font-size: 1.8rem;
  }
  .acordeon-section__hidden-text {
    font-size: 1.8rem;
  }
  .courses__nav {
    flex-direction: row;
  }
  .courses .mail .form__wrapper {
    flex-direction: row;
    justify-content: center;
  }
  .courses .mail .form__wrapper--item {
    width: 40%;
    margin-right: 1em;
    margin-bottom: 0;
    max-width: 270px;
  }
  .courses .mail .form__wrapper--btn {
    width: 20%;
    max-width: 100px;
  }
  .community__wrapper {
    display: flex;
    flex-direction: row;
  }
  .community__box {
    padding: 1em;
    width: 43%;
  }
  .map__timeline-mobile {
    display: none;
  }
  .map-timeline {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }
  .map-timeline__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 2em;
  }
  .map-timeline__line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #0076e8;
  }
  .map-timeline__box {
    position: relative;
    margin-bottom: 2em;
    padding: 2em;
    width: 50%;
    border-radius: 8px;
    border: 1px solid #0076e8;
  }
  .map-timeline__box--text {
    margin-top: 0.4em;
    line-height: 160%;
  }
  .map-timeline__box--text a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
  }
  .map-timeline__box--text a:hover {
    color: #0076e8;
  }
  .map-timeline__box--text span {
    font-size: 1.6rem;
  }
  .map-timeline__box--text .span-small {
    font-size: 1.2rem;
  }
  .map-timeline__box--icon {
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .map-timeline__box--popup {
    display: none;
    position: absolute;
    right: 0;
    bottom: calc(100% + 15px);
    padding: 1em;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #0076e8;
    background-color: #ffffff;
  }
  .map-timeline__box--popup p {
    display: block;
    font-size: 1.4rem;
    line-height: 150%;
    text-align: center;
  }
  .map-timeline__box--icon:hover + .map-timeline__box--popup {
    display: block;
  }
  .map-timeline__even {
    transform: translateX(-20px);
  }
  .map-timeline__even .map-timeline__box--circle {
    position: absolute;
    top: 50%;
    right: -31px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0076e8;
  }
  .map-timeline__odd {
    transform: translateX(calc(100% + 20px));
  }
  .map-timeline__odd .map-timeline__box--circle {
    position: absolute;
    top: 50%;
    left: -31px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0076e8;
  }
  .map-timeline__last {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .nav__logo img {
    height: 40px;
  }
  .nav .burger-btn {
    display: none;
  }
  .nav__wrapper {
    position: static;
    opacity: 1;
    height: 80px;
    width: auto;
  }
  .nav__items {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    justify-content: space-between;
  }
  .nav__item {
    margin-top: 0;
    font-size: 1.6rem;
    padding: 1em;
  }
  .header {
    background-image: url(../img/header-big.jpeg);
  }
  .header__text h1 {
    font-size: 3.6rem;
  }
  .header__text p {
    font-size: 2.6rem;
  }
  .future-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .future-box__text {
    order: 2;
  }
  .future-box__text p {
    margin-bottom: 1em;
    font-size: 1.8rem;
    line-height: 180%;
  }
  .future-box__text span {
    font-weight: 700;
  }
  .future-box__img {
    margin: 0 5em 0 0;
    order: 1;
    max-width: 400px;
  }
  .map-timeline__wrapper {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */