$pure-white: #ffffff;
$light-white: #f8f8f8;
$gray: #d8d8d8;
$light-blue: #0076e8;
$dark-blue: #0163be;
$black: #000000;
$almost-black: #1b1b1f;
$black-header: rgba(0, 0, 0, 0.4);
$privacy-politycy: #111111;
$privacy-politycy-link: #0000ee;